@page "/dictionary/{Id:int}/word-add"
<h3>WordAdd</h3>

<div class="my-3">
    <div class="col-2"><label>Назва:</label></div>
    <div class="col-3"><input @bind="newItem.Value" class="form-control" /></div>
</div>

<table class="table table-striped">
    <thead>
        <tr>
            <th>Переклад</th>
            <th>Дії</th>
        </tr>
    </thead>
    <tbody>
        @foreach (var T in Translations)
        {
            <tr>
                <td>@T.Value</td>
                <td>
                    <button class="btn btn-primary" @onclick="() => EditTranslation(T)">Редагувати</button>
                    <button class="btn btn-danger" @onclick="() => RemoveTranslation(T)">Видалити</button>
                </td>
            </tr>
        }
    </tbody>
</table>

@if (isAddingTranslation)
{
    <div class="mb-3 d-flex justify-content-center gap-2 align-items-center">
        <input @bind="newTranslation.Value" class="form-control" placeholder="Новий переклад" />
        <button class="btn btn-success" @onclick="SaveTranslation">Зберегти</button>
        <button class="btn btn-secondary" @onclick="CancelAddTranslation">Скасувати</button>
    </div>
}
else
{
    <button class="btn btn-primary" @onclick="ShowAddTranslation">Додати Переклад</button>
}

<div class="my-3 float-end">
    <button class="btn btn-primary" @onclick="AddWord">Зберегти</button>
</div>

@code {
    [Parameter]
    public int Id { get; set; }

    private Word newItem = new Word();
    private Translation newTranslation = new Translation();
    private List<Translation> Translations = new List<Translation>();
    private bool isAddingTranslation = false;

    private async Task AddWord()
    {
        newItem.DictionaryId = Id;
        newItem.Translations = Translations.ToList();
        await WordHttpService.AddAsync(newItem);
        Navigation.NavigateTo($"dictionary/{Id}");
    }

    private void ShowAddTranslation()
    {
        isAddingTranslation = true;
    }

    private void SaveTranslation()
    {
        if (!string.IsNullOrEmpty(newTranslation.Value))
        {
            Translations.Add(newTranslation);
            newTranslation = new Translation();
        }
        isAddingTranslation = false;
    }

    private void CancelAddTranslation()
    {
        newTranslation = new Translation();
        isAddingTranslation = false;
    }

    private void EditTranslation(Translation translation)
    {
        newTranslation = translation;
        isAddingTranslation = true;
    }

    private void RemoveTranslation(Translation translation)
    {
        Translations.Remove(translation);
    }
}
